{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}


<div class="page page--background">
    <header>
        {{>back-button}}
    </header>
    <form action="" class="page__section">
        <h1>Home</h1>

        <a class="button" href="/user-list">User List</a>
        <a class="button" href="/login">Login</a>
        <a class="button" href="/logout">logout</a>

    </form>
</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}